
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,300&display=swap');
:root {
    --background-color: #ff5722 !important;
    --text-color:#ffffff;
    --heading-with-bg: var(--text-color);
    --heading-without: var(--background-color);
    --shadow: #f44336;



}
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
body{

}
.logo {
justify-content:center;
    align-items: center;


}
.logo > .logo-img{

    display: block;
   margin:0 auto;
    /*width: 50%;*/
}
.heading-bg{
    color:var(--text-color) !important;
}
.heading-bg-white{
    color:var(--background-color) !important;
}
.navigation{
    /*background-image: linear-gradient(40deg,#385170,#142d4c);*/
    background: var(--background-color) !important;

    color:white;
    /*padding:1em 1em;*/
}
.navigation > #tab{
    color:white;
    transform: rotate(90deg);
    padding: 0px  !important;
}
.navbar > h3 > #logo {
    background-image: linear-gradient(30deg, white, green);
    font-family: 'Poppins', sans-serif;
    -webkit-background-clip: text;
    color: transparent;

}
.nav-link{
    color:white!important;
    font-family: 'Poppins', sans-serif;
    margin-inline: .5em !important;
    left: 0;
    bottom: -5px;
    position:relative;
    text-transform: uppercase;
}
.nav-item >{

    color:white!important;
    font-family: 'Poppins', sans-serif;
    margin-inline: .5em !important;
    margin-top: 10px;
    padding-inline:5rem 1rem;
    width:100%;
    left: 0;
    bottom: -5px;
    position:relative;
}
.nav-link::after{
    content: "";
    height: 1px;
    width:100%;
    background-color: currentColor !important;
    position:absolute;
    bottom:5px;
    left:0px;
    /*right:5px;*/
    transform: scaleX(0);
    transform-origin:right;
    transition: transform 250ms ease-in;



}
.nav-link:hover::after{
    transform: scaleX(1);
    transform-origin:left;
}
/*end header and navigation*/

::-webkit-scrollbar{
   /*height:1px;*/
    width: 15px;

}
::-webkit-scrollbar-track{
    /*background: rgba(252,176,69,0.5);*/

}
::-webkit-scrollbar-thumb{
    /*background-image: linear-gradient(60deg,#385170,#142d4c);*/
    background: var(--background-color) !important;
    width: 50px;
    background-clip: content-box;
    /*height:2px;*/
    border-radius:20px;
}
.hero{

    background: antiquewhite;
}
section{
    padding: 1rem;
    box-shadow: 1px 1px 10px  ;
}
.hero section >  p{
    font-size:1rem;
    margin: 0 auto;
    text-align: justify;

}


/* Footer */
footer {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: var(--background-color);
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: var(--background-color) !important;
}
#footer h5{
    padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
    padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
    font-size:25px;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}
#footer ul.social li:hover a i {
    font-size:30px;
    margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
    color:#ffffff;
}
#footer ul.social li a:hover{
    color:#eeeeee;
}
#footer ul.quick-links li{
    padding: 3px 0;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}
#footer ul.quick-links li:hover{
    padding: 3px 0;
    margin-left:5px;
    font-weight:700;
}
#footer ul.quick-links li a i{
    margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}
.btn-custom-bg{
    background: var(--background-color) !important;
    color:white;

}

@media (max-width:767px){
    #footer h5 {
        padding-left: 0;
        border-left: transparent;
        padding-bottom: 0px;
        margin-bottom: 10px;
    }

}
